.comment-card {
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1.5rem; /* p-6 */
  width: 50rem;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  transition: all 0.3s ease;
}

.comment-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
  background-color: #f9fafb; /* hover:bg-gray-50 */
}

.comment-card__avatar {
  height: 3rem; /* 12 */
  width: 3rem; /* 12 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* rounded-full */
  background-color: #18181b; /* indigo-500 */
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.comment-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.05rem; /* space-y-2 */

}

.comment-card__header {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem; /* gap-4 */
  
  
}

.comment-card__user-info h3 {
  font-weight: 600;
  color: #111827; /* gray-900 */
  font-size: 1rem; /* text-md */
}

.comment-card__user-info p {
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* gray-500 */
}

.comment-card__company {
  font-size: 0.875rem; /* text-sm */
  color: #737477; /* gray-400 */
  white-space: nowrap;
  padding-left: 50%;
  font-weight: 700;
}

.comment-card__text {
  color: #1f2937; /* gray-800 */
  line-height: 1.5;
  font-size: 0.875rem; /* text-sm */
  padding-left: 4rem;
}

.comment-card__footer {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem; /* text-xs */
  color: #9ca3af; /* gray-400 */
}

.comment-card__footer span {
  cursor: pointer;
  transition: color 0.2s;
}

.comment-card__footer span:hover {
  color: #6366f1; /* hover:text-indigo-500 */
}
